﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Net Dev</title>    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>    
    @RenderSection("styles", false)
</head>
<body>
    <div class="row" id="loading-indicator" style="display:none">
        <center>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <img src="@Url.Content("~/Content/img/ajax-loader.gif")" />
        </center>

    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content contenido">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Content/components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script>
        var appURL = "@Url.Content("~/")";

        $(document).ajaxStart(function (event, request, settings) {
            $('#loading-indicator').height($('body').height());
            $('#loading-indicator').show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });

        $(document).ajaxComplete(function (event, request, settings) {
            $('#loading-indicator').hide();
        });

    </script>

    <script src="@Url.Content("~/Scripts/global.js")"></script>
    @RenderSection("scripts", false)
</body>
</html>