﻿
@{
    BLAbogado oBLAbogado = new BLAbogado();
    List<Especialidad> listaEspec = oBLAbogado.ListarEspecialidades();
    List<TipoDocumento> listaTiposDoc = oBLAbogado.ListarTiposDocumento();
}

@model Abogado


@using Prueba.PeruApps.Entity
@using Prueba.PeruApps.Business


<div id="divPrincipalAbo" class="modal fade" role="dialog">
    <form id="frmPrincipalAbo" class="form-horizontal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Usuarios</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Especialidad </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(p => p.especialidadId, new System.Web.Mvc.SelectList(listaEspec, "id", "descripcion"), "Seleccione", new { @class = "form-control", @id = "ddlEspecialidades", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="idAbogado" class="form-control" name="id" value="-" />            
                            <label class="col-sm-3 control-label"> Ape Paterno </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.apePaterno, new { @class = "form-control", @required = "required", @id = "txtApPaterno", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="form-group" id="divUsernameMantUser">
                            <label class="col-sm-3 control-label"> Ape Materno </label>
                            <div class="col-sm-9">
                                @*@Html.TextBoxFor(p => p.user.userName, new { @class = "form-control", @required = "required", @id = "txtUserNameMantUser", @maxlength = "50" })*@
                                <input type="text" name="apeMaterno" id="txtApMaterno" class="form-control" value="" maxlength="20" />
                            </div>
                        </div>
                        <div class="form-group" id="divPassMantUser">
                            <label class="col-sm-3 control-label"> Nombres </label>
                            <div class="col-sm-9">
                                @*@Html.PasswordFor(p => p.user.password, new { @class = "form-control", @required = "required", @id = "txtPasswordMantUser", @maxlength = "50" })*@
                                <input type="text" name="nombres" id="txtNombres" class="form-control" value="" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group" id="divConfirmPassMantUser">
                            <label class="col-sm-3 control-label"> Tipo Documento </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(p => p.tipoDocumento, new System.Web.Mvc.SelectList(listaTiposDoc, "id", "descripcion"), "Seleccione", new { @class = "form-control", @id = "ddlTiposDocumento", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Nro Documento </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.nroDoc, new { @class = "form-control soloEnteros", @required = "required", @id = "txtNroDocumento", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Cod Colegio AB </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.codColegioAb, new { @class = "form-control", @required = "required", @id = "txtCodColegio", @maxlength = "10" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
