﻿@model Prueba.PeruApps.Entity.model.AbogadoQuery

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle Abogado</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.especialidadDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidadDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apePaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apePaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apeMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apeMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoDocumentoDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDocumentoDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codColegioAb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codColegioAb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a listado", "Index")
</p>
