﻿@model IEnumerable<Prueba.PeruApps.Entity.model.AbogadoQuery>

@{
    ViewBag.Title = "Index";
    BLAbogado oBLAbogado = new BLAbogado();
    List<Especialidad> listaEspec = oBLAbogado.ListarEspecialidades();
    List<TipoDocumento> listaTiposDoc = oBLAbogado.ListarTiposDocumento();
    
}

@using Prueba.PeruApps.Entity
@using Prueba.PeruApps.Business
@using Prueba.PeruApps.Entity.model

<div class="tituloLista"><h2>Lista de Abogados</h2></div>

<p class="bloqueCrud">
    <button id="btnNuevo" class="btn btn-success">Adicionar</button>
</p>
<table class="table">
    <tr>
        <th>
            Especialidad
        </th>
        <th>
            AP Paterno
        </th>
        <th>
            AP Materno
        </th>
        <th>
            Nombres
        </th>
        <th>
            Tipo Documento
        </th>
        <th>
            Nro Documento
        </th>
        <th>
            Cod Colegiatura
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.especialidadDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apePaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apeMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDocumentoDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nroDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codColegioAb)
        </td>
        <td>
            <a href="javascript:fnEditar(@item.id);" class="btn btn-success">Editar</a> |            
            @Html.ActionLink("Detalle", "Details", new { id=item.id }, new { @class = "btn btn-primary" }) |
            <a href="javascript:fnEliminar(@item.id);" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
}

</table>


@Html.Partial("_MantAbogado", new Abogado())

@section styles{

    <link href="@Url.Content("~/Content/plugins/jQueryConfirm/jquery-confirm.min.css")" rel="stylesheet" />

}

@section scripts{
    <script src="@Url.Content("~/Content/plugins/jQueryValidate/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/jQueryValidate/localization/messages_es_PE.min.js")"></script>

    <script src="@Url.Content("~/Content/plugins/jQueryConfirm/jquery-confirm.min.js")"></script>

    <script src="@Url.Content("~/Scripts/abogado.js")"></script>

}